<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Donate / Food and Bevarages</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/public/niceadmin/assets/img/favicon.png" rel="icon" />
    <link
      href="/public/niceadmin/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/public/niceadmin/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/quill/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/quill/quill.bubble.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="/public/niceadmin/assets/vendor/simple-datatables/style.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="/public/niceadmin/assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="/public/niceadmin/assets/img/logo.png" alt="" />
          <span class="d-none d-lg-block">Donation Portal</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <div class="search-bar">
        <form
          class="search-form d-flex align-items-center"
          method="POST"
          action="#"
        >
          <input
            type="text"
            name="query"
            placeholder="Search"
            title="Enter search keyword"
          />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <!-- End Search Icon-->

          <!-- End Notification Nav -->

          <!-- End Messages Nav -->

          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <span class="d-none d-md-block dropdown-toggle ps-2"
                >Hi User</span
              > </a
            ><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header"></li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="/donor/profile"
                >
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="/donor/profile"
                >
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="pages-faq.html"
                >
                  <i class="bi bi-question-circle"></i>
                  <span>Need Help?</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/logout">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        
        <li class="nav-item">
          <a class="nav-link collapsed" href="/donor/donations">
            <i class="bi bi-card-list"></i>
            <span>My Donations</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <!-- End Components Nav -->

        <li class="nav-item">
          <a
            class="nav-link "
            data-bs-target="#forms-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-journal-text"></i><span>Donate</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="forms-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="donate-food&water">
                <i class="bi bi-circle"></i><span>Food and Bevarages</span>
              </a>
            </li>
            <li>
              <a href="donate-Health">
                <i class="bi bi-circle"></i><span>Nutrtion and Healthcare</span>
              </a>
            </li>
            <li>
              <a href="donate-Education">
                <i class="bi bi-circle"></i
                ><span>Books,Stationary and more..</span>
              </a>
            </li>
           
          </ul>
          
          <li class="nav-item">
            <a class="nav-link collapsed" href="/donor/profile">
              <i class="bi bi-person"></i>
              <span>Profile</span>
            </a>
          </li>
        </li>
        <!-- End Forms Nav -->

        <!-- End Tables Nav -->

        <!-- End Charts Nav -->

        <!-- End Icons Nav -->

        <li class="nav-heading">Pages</li>

        <!-- End Profile Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="faq.html">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
          </a>
        </li>
        <!-- End F.A.Q Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="contact-adminD">
            <i class="bi bi-envelope"></i>
            <span>Contact</span>
          </a>
        </li>

        <!-- End Register Page Nav -->

        <!-- End Login Page Nav -->

        <!-- End Error 404 Page Nav -->

        <!-- End Blank Page Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Food related donations here</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Donation</li>
            <li class="breadcrumb-item active">Food and Bevarages</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Donation details</h5>

                <!-- General Form Elements -->
                <form method="post" action="donate-food&water">
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label"
                      >What are you aiming to donate</label
                    >
                    <div class="col-sm-10">
                      <input
                        required
                        name="aim"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label"
                      >Verify your identity</label
                    >
                    <div class="col-sm-10">
                      <input class="form-control" type="file" id="formFile" />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">
                      Ready to serve
                    </legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="gridCheck1"
                        />
                        <label class="form-check-label" for="gridCheck1">
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label"
                      >Specific details</label
                    >
                    <div class="col-sm-10">
                      <input
                        required
                        type="text"
                        name="specific"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label"
                      >Quantity</label
                    >
                    <div class="col-sm-10">
                      <input
                        required
                        name="quantity"
                        type="number"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label"
                      >Date of Expiry</label
                    >
                    <div class="col-sm-10">
                      <input
                        required
                        name="doe"
                        type="date"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label"
                      >Description</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        name="desc"
                        class="form-control"
                        style="height: 100px"
                      ></textarea>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label"
                      >Date of Donation</label
                    >
                    <div class="col-sm-10">
                      <input
                        required
                        name="dod"
                        type="date"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Donate</label>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">
                        Donate
                      </button>
                    </div>
                  </div>
                </form>
                <!-- End General Form Elements -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Donation Portal</span></strong
        >. All Rights Reserved
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="/public/niceadmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/chart.js/chart.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/quill/quill.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/public/niceadmin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/public/niceadmin/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/public/niceadmin/assets/js/main.js"></script>
  </body>
</html>
